//Home
$home-bcg-color-dark: #1c1c1c;


//main color palette
$primary-dark: #fff;
$bcg-secondary-dark: #222629;
$disabled-dark: #6B6E70;
$disabled-secondary-dark: #474B4F;
$main-yellow-dark: #fc0;
$secondary-yellow-dark: #fcba03;


