//Home
$bcg-color-light: #fff;


//main color palette
$primary-light: #000;
$bcg-secondary-light: #f8f8ff;
$disabled-light: #6B6E70;
$disabled-secondary-light: #474B4F;
$main-yellow-light: #fc0;
$secondary-yellow-light: #fcba03;